/* ----------------------------------------------------------------------------- 
 
  FONTS
 
----------------------------------------------------------------------------- */
@font-face {
  font-family: russoOne;
  src: url("../fonts/russoOne/russoOne.ttf");
  font-style: normal;
  font-weight: normal; }
/* -----------------------------------------------------------------------------

                        ALERT WINDOWS 

----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

                VARIABLES
  
----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

                        RESPONSIVE 

----------------------------------------------------------------------------- */
@media (max-width: 575px) {
  span.my-name {
    font-size: 2rem; } }
@media (max-width: 767px) {
  div.quote.turned {
    transform: rotateZ(0); }
  div.quote.turned h3 {
    transform: rotateZ(0); }
  div.quote.turned.again {
    transform: rotateZ(0); }
  div.quote.turned.again h3 {
    transform: rotateZ(0); }

  div.face {
    height: 150px;
    width: 40%; } }
@media (max-width: 991px) {
  div.bg-photo-wrap {
    background: #e5edf5 url(../img/web-dev_mobile.jpg) no-repeat 0 12%/100% fixed; }

  div.night {
    background: white url(../img/night_mobile.jpg) no-repeat bottom/100% fixed; } }
/* -----------------------------------------------------------------------------

                          MAIN STYLES

----------------------------------------------------------------------------- */
.main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px 0 15px; }

.outl-red {
  outline: 1px solid red; }

.outl-green {
  outline: 1px solid green; }

.outl-blue {
  outline: 1px solid blue; }

body {
  background: #e5edf5;
  font: 10px Montserrat, sans-serif;
  line-height: 1.8;
  color: #000; }

p {
  font-size: 1.6rem; }

/* -----------------------------------------------------------------------------

         HEADING ELEMENTS
  
----------------------------------------------------------------------------- */
h1, h2, h3, h4 {
  font-family: Montserrat, sans-serif; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

/* -----------------------------------------------------------------------------

                               BUTTONS
  
----------------------------------------------------------------------------- */
.btn-link, .btn-gallery, .btn-gallery-plus {
  display: inline-block;
  background-color: #11719f;
  padding: 12px 12px 12px 12px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem; }
  .btn-link:hover, .btn-gallery:hover, .btn-gallery-plus:hover {
    background-color: #1692cd; }

.btn-link-right {
  margin-left: 10px; }

.btn-gallery {
  padding: 8px 47px 8px 12px; }

.btn-gallery-plus {
  position: relative;
  padding: 5px 16px 5px 16px;
  background-color: #7e921e;
  font-size: 2.2rem;
  line-height: 2.2rem;
  vertical-align: top; }
  .btn-gallery-plus:hover {
    background-color: #a3bc27; }

.btn-pagination {
  padding: 10px 15px;
  background-color: #4eabd7; }
  .btn-pagination:hover {
    background-color: #11719f; }
  .btn-pagination.active {
    background-color: #11719f; }

.btn-send {
  border: none; }

/*-------------------------------------------------------------------------
                        
                         NAV
                         
--------------------------------------------------------------------------*/
#area {
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  z-index: 1; }
  #area .navbar-toggle {
    display: block;
    z-index: 2;
    border-color: #ddd; }
    #area .navbar-toggle .icon-bar {
      background-color: #888; }

.navbar.nav-up {
  top: -50px; }

.navbar-wrap {
  height: 50px;
  background-color: #e5edf5; }

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  -webkit-transition: 0.1s;
  transition: 0.2s;
  border: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px; }

#main-nav.navbar-nav li a:hover {
  color: #1b3c72; }
  #main-nav.navbar-nav li a:hover::before {
    content: "";
    display: block;
    width: calc(100% - 30px);
    height: 2px;
    background-color: #1b3c72;
    position: absolute;
    bottom: 8px;
    margin-left: -3px; }

.navbar-nav {
  font: 2rem Arial; }

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    -ms-transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%); } }
@keyframes shake {
  0% {
    transform: perspective(1000px) rotateY(15deg);
    box-shadow: -12px 10px 54px -10px rgba(0, 0, 0, 0.75), inset -75px 0px 160px -35px rgba(0, 0, 0, 0.75); }
  25% {
    transform: perspective(1000px) rotateY(-10deg);
    box-shadow: 12px 10px 54px -10px rgba(0, 0, 0, 0.75), inset 75px 0px 160px -35px rgba(0, 0, 0, 0.75); }
  50% {
    transform: perspective(1000px) rotateY(7deg);
    box-shadow: -12px 10px 54px -10px rgba(0, 0, 0, 0.75), inset -75px 0px 110px -35px rgba(0, 0, 0, 0.75); }
  75% {
    transform: perspective(1000px) rotateY(-4deg);
    box-shadow: 12px 10px 54px -10px rgba(0, 0, 0, 0.75), inset 75px 0px 60px -35px rgba(0, 0, 0, 0.75); }
  100% {
    transform: perspective(1000px) rotateY(0deg); } }
.slideanim {
  visibility: hidden; }

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0; }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px; } }
/*-------------------------------------------------------------------------
                        
                         First Container
                         
--------------------------------------------------------------------------*/
.logo-container {
  margin: 5px;
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  background: url(../img/logo_3.svg) no-repeat;
  background-position: 0 0;
  background-size: 100%; }

.bg-1 {
  transition: 3s;
  backface-visibility: hidden;
  background: #e5edf5;
  /* For browsers that do not support gradients */
  color: #000; }

.bg-photo-wrap {
  clear: both;
  overflow: hidden;
  position: relative;
  background: url(../img/web-dev.jpg) no-repeat fixed;
  background-position: 50% -200px;
  background-size: 100%; }
  .bg-photo-wrap:before {
    height: 30px;
    top: -30px;
    left: 0;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.9); }
  .bg-photo-wrap:after {
    height: 30px;
    bottom: -30px;
    left: 0;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: 10;
    box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.9); }
  .bg-photo-wrap .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); }

/*---------------  WAVE --------------------------*/
.parent {
  position: relative;
  padding: 150px 0 150px 0; }

.wave {
  width: 100%;
  top: 130px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: russoOne, Impact, "Arial Black", "sans serif";
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 6rem;
  overflow: hidden;
  color: #1b3c72; }

.upper, .under {
  white-space: nowrap; }

.upper span, .under span {
  display: inline-block;
  visibility: hidden; }

/*--------------------------------------------------------------------------

                              Second Container 
                              
--------------------------------------------------------------------------*/
.face {
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: 10%;
  height: 100px;
  background: url(../img/face-up.svg) no-repeat;
  background-position: center;
  background-size: contain; }

.quote {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative;
  cursor: pointer;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 80px auto 80px auto; }
  .quote span {
    color: #d7e6ff; }

/********flipping photo*/
.my-photo {
  width: 100%; }

.card-wrap {
  width: 23%;
  margin: 20px auto; }

.card {
  max-width: 300px;
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  text-align: center;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .card img {
    border-radius: 50%; }

.card:hover .card__front, .card:hover .card__back {
  -webkit-box-shadow: 0  0  50px silver;
  -moz-box-shadow: 0  0  50px silver;
  box-shadow: 0  0  50px silver; }

/* card fronts and backs */
.card__front,
.card__back {
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  border: 10px solid white;
  border-radius: 50%; }

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s; }

.card__back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.card.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.card.flipped .card__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }

/********* end flipping photo*/
.bg-2 {
  backface-visibility: hidden;
  background-color: #474e5d;
  /* Dark Blue */
  color: #ffffff; }

.bg-3 {
  backface-visibility: hidden;
  background-color: #ffffff;
  /* White */
  color: #555555; }

.bg-4 {
  backface-visibility: hidden;
  background-color: #2f2f2f;
  /* Black Gray */
  color: #fff; }

.night {
  height: 300px;
  overflow: hidden;
  position: relative;
  background: url(../img/night.jpg) no-repeat fixed;
  background-position: 50% bottom;
  background-size: 100%; }
  .night:before {
    height: 30px;
    top: -30px;
    left: 0;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: 20;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.9); }
  .night:after {
    height: 30px;
    bottom: -30px;
    left: 0;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    z-index: 20;
    box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.9); }

/***********/
.modal-body1 {
  position: fixed;
  right: 50%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 108, 237, 0.8);
  transform-origin: center right;
  transform: skewX(30deg);
  z-index: 100; }
  .modal-body1 div {
    margin-right: 5%;
    position: absolute;
    right: 0%;
    bottom: -80%;
    width: 8%;
    height: 200%;
    transform-origin: center right;
    transform: skewY(-20deg); }
    .modal-body1 div i {
      box-shadow: inset 10px 10px 30px 7px rgba(89, 153, 222, 0.4), inset -10px -10px 30px 7px rgba(89, 153, 222, 0.4);
      border: 1px solid transparent;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.5);
      margin: 50% 0 50% 0;
      display: block;
      height: 8%; }

.modal-body2 {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 148, 237, 0.84);
  transform-origin: center left;
  transform: skewX(30deg);
  z-index: 100; }
  .modal-body2 div {
    margin-left: 5%;
    position: absolute;
    left: 0%;
    top: -80%;
    width: 8%;
    height: 200%;
    transform-origin: center left;
    transform: skewY(-20deg); }
    .modal-body2 div i {
      box-shadow: inset 10px 10px 30px 7px rgba(89, 153, 222, 0.4), inset -10px -10px 30px 7px rgba(89, 153, 222, 0.4);
      border: 1px solid transparent;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.5);
      margin: 50% 0 50% 0;
      display: block;
      height: 8%; }

/*# sourceMappingURL=main.css.map */
